﻿@model EduService.ViewModels.SubjectViewModel

@{
    ViewBag.Title = "Create";
}

<div class="content animate-panel">

    @using (Html.BeginForm("Create", "Subjects", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            Create Subject
                        </div>
                        <div class="panel-body">
                            <span class="help-block">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </span>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.subjectName, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.subjectName, new { @class = "form-control", id = "subjectName", placeholder = "Enter Subject Name" })
                                    @Html.ValidationMessageFor(m => m.subjectName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.subjectCode, new { @class = "control-label" })
                                    @Html.TextAreaFor(m => m.subjectCode, new { @class = "form-control", id = "subjectCode", placeholder = "Enter Subject Code" })
                                    @Html.ValidationMessageFor(m => m.subjectCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            

                                <div class="form-group col-lg-12">
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group col-md-5">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="submit" class="btn btn-block btn-success" value="Create" />
                                </div>
                                <div class="form-group col-md-5">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink(" Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline btn-xs btn-primary fa fa-arrow-left" })
                        </div>
                    </div>
                </div>
            </div>
      
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            if ('@TempData["IsSubjectExists"]' != "") {
                $('#SubjectExists').modal('show');
            }
            else if ('@TempData["SubjectCreationFailed"]' != "") {
                $('#FailedModelPopup').modal('show');
            }

        });
    </script>
}

<div class="modal fade hmodal-danger" id="FailedModelPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h3 class="modal-title" style="text-align:center">Failed to Create!</h3>
            </div>
            <div class="modal-body">
                <h5 style="text-align:center">
                    <strong>@TempData["SubjectCreationFailed"]</strong>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


