﻿@model EduService.ViewModels.ClassesViewModel

@{
    ViewBag.Title = "Edit Class";
}

<div class="content animate-panel">
    @using (Html.BeginForm("EDit", "Classes"))
    {
        @Html.AntiForgeryToken()
        <span class="help-block">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            EDIT CLASS
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.Name, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "Name", placeholder = "Enter Class Name", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>

                                @if (Model.Divisions != Enumerable.Empty<SelectListItem>())
                                {    <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.DivisionId, new { @class = "control-label required" })
                                    @Html.DropDownListFor(m => m.DivisionId, Model.Divisions, "Select Division", htmlAttributes: new { @class = "form-control", id = "DivisionId" })
                                    @Html.ValidationMessageFor(m => m.DivisionId, "", new { @class = "text-danger" })
                                </div>
                                }
                            </div>

                            <div class="row">
                                @if (Model.Grades != Enumerable.Empty<SelectListItem>())
                                {
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.GradeId, new { @class = "control-label required" })
                                        @Html.DropDownListFor(m => m.GradeId, Model.Grades, "Select Grade", htmlAttributes: new { @class = "form-control", id = "GradeId" })
                                        @Html.ValidationMessageFor(m => m.GradeId, "", new { @class = "text-danger" })
                                    </div>
                                }

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.Capacity, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control", id = "Capacity", placeholder = "Enter Capacity", autocomplete = "off", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.Capacity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @if (Model.Learners != Enumerable.Empty<SelectListItem>())
                                {  <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.LearnerId, new { @class = "control-label required" })
                                    @Html.DropDownListFor(m => m.LearnerId, (MultiSelectList)Model.Learners, null, htmlAttributes: new { @class = "form-control", multiple = "multiple", id = "LearnerId", placeholder = "Select Learners(s)" })
                                    @Html.ValidationMessageFor(m => m.LearnerId, "", new { @class = "text-danger" })
                                </div>
                                }
                            </div>
                            <div class="row">
                                @if (Model.Teachers != Enumerable.Empty<SelectListItem>())
                                {  <div class="form-group col-md-12">
                                    @Html.LabelFor(m => m.TeacherId, new { @class = "control-label required" })
                                    @Html.DropDownListFor(m => m.TeacherId, (MultiSelectList)Model.Teachers, null, htmlAttributes: new { @class = "form-control", multiple = "multiple", id = "TeacherId", placeholder = "Select Teachers(s)" })
                                    @Html.ValidationMessageFor(m => m.TeacherId, "", new { @class = "text-danger" })
                                </div>
                                }
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="button" class="btn btn-block btn-success" value="Update" id="btnSubmit" />
                                </div>
                                <div class="form-group col-md-5">
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            @Html.ActionLink(" Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline btn-xs btn-primary fa fa-arrow-left" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSubmit').on('click', function (e) {
                var learnerId = $('#LearnerId').val();
                var gradeId = $('#GradeId').val();
                var divisionId = $('#DivisionId').val();
                var teacherId = $('#TeacherId').val();

                var senderId = $('#SenderId').val();

                var form = $(this).parents('form');

                 if (gradeId == null || gradeId == "") {
                    Swal.fire({
                        title: "Grade not selected",
                        text: "Please select a grade",
                        icon: 'warning',
                    })
                }
                else if (divisionId == null || divisionId == "") {
                    Swal.fire({
                        title: "Division not selected",
                        text: "Please select a division",
                        icon: 'warning',
                    })
                } else if (learnerId == null || learnerId == "") {
                    Swal.fire({
                        title: "Learners not selected",
                        text: "Please select at least one learner",
                        icon: 'warning',
                    })
                } else if (teacherId == null || teacherId == "") {
                    Swal.fire({
                        title: "Teacher not selected",
                        text: "Please select at least one teacher",
                        icon: 'warning',
                    })
                }
                else {
                    form.submit();
                }
            });



            $("#LearnerId").select2();
            var ddlGradeId = $('#GradeId').val();
            var ddlSubject = $('#SubjectId').val();

            if (ddlGradeId == 0 && ddlSubject == 0) {
                $("#LearnerId").val('').prop('disabled', true);
            } else {
                $("#LearnerId").prop('disabled', false);;
            }

            $("#GradeId").change(function () {
                $('#LearnerId').val('').trigger('change');
                var ddlSubjectId = $("#SubjectId").val();
                var ddlGradeId = $(this).val();

                if (ddlGradeId !== "" && ddlSubjectId != "") {
                    $.ajax(
                       {
                           url: '/Classes/GetLearnersForSubjectGrade?gradeId=' + $(this).val() + "&subjectId=" + ddlSubjectId,
                           type: "GET",
                           data: {}
                       }).done(function (response) {
                           $('#LearnerId').html('');
                           $("#LearnerId").append(response).prop('disabled', false);;
                       });;
                } else {
                    //Let's clear the values and disable :)
                    $("#LearnerId").val('').prop('disabled', true);
                }

            });
        });
    </script>
}