﻿@model IEnumerable<EduService.ViewModels.ClassesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-times"></i></a>
                    </div>
                    CLASSES
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <p>
                            @if (User.IsInRole("HOD"))
                            {
                                @Html.ActionLink("ADD NEW CLASS", "Create", "Classes", null, new { @class = "btn btn-primary btn-xs" })
                            }
                        </p>
                        <table id="displayTable" class="display table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Grade</th>
                                    <th>Division</th>
                                    <th>Capacity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Division)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Capacity)
                                        </td>
                                        <td>
                             
                                                @Html.ActionLink(" ", "Delete", "Classes", new { Id = item.Id }, new
                                           {
                                               @class = "btn btn-danger btn-xs fa fa-times",
                                               data_toggle = "tooltip",
                                               data_placement = "top",
                                               title = "Delete",
                                               @OnClick = "return confirm('Are you sure you to delete?');"
                                           })
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink(" Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline btn-xs btn-primary fa fa-arrow-left" })
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {

            if ('@TempData["createClassMessage"]' != "") {
                $('#createClassMessagePopup').modal('show');
            }
        });

        $(function () {
            // JSON data
            var chartDataUrl = '@Url.Action("tableJsonData", "Tables")';

            $('#displayTable').dataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "order": [[0, "asc"]],
                responsive: true,
                buttons: [
                  { extend: 'copy', className: 'btn-sm' },
                  { extend: 'csv', title: 'Companies', className: 'btn-sm', exportOptions: { columns: 'th:not(:last-child)' } },
                  { extend: 'pdf', title: 'Companies', className: 'btn-sm', exportOptions: { columns: 'th:not(:last-child)' } },
                  { extend: 'print', className: 'btn-sm', exportOptions: { columns: 'th:not(:last-child)' } }
                ],

                columnDefs: [{
                    "targets": [3],
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>


}

<div class="modal fade hmodal-success" id="createClassMessagePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h3 class="modal-title" style="text-align:center">Successfully Created!</h3>
            </div>
            <div class="modal-body">
                <h5 style="text-align:center">
                    <strong>@TempData["createClassMessage"]</strong>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-success" id="DeletedInstitutionModelPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h3 class="modal-title" style="text-align:center">Successfully Deleted!</h3>
            </div>
            <div class="modal-body">
                <h5 style="text-align:center">
                    <strong>@TempData["DeletedInstitution"]</strong>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
