﻿@model EduService.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Reset Password";
}
@using (Html.BeginForm("Activate", "Account", FormMethod.Post, new { @class = "register-container" }))
{
    @Html.AntiForgeryToken()

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3 style="font-weight:bold">Activate Acount</h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <span class="help-block">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </span>

                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />

                            <input type="submit" class="btn btn-success btn-block" value="Resend Activation Link" id="btnSubmit" />
                            <input type="button" class="btn btn-default btn-block" value="Back to Login" onclick="location.href='@Url.Action("Login", "Account")'" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Online e-learning portal</strong><br /> @DateTime.Now.Year
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.message' == "Failed") {
                toastr.error('Unable to send activation email.');
            }
            else if ('@ViewBag.message' == "Activated") {
                swal({
                    title: "Account Already Active",
                    text: "Your account has already been activated.",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#00FF00",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false
                }
            )}
            else if ('@ViewBag.message' == "Success") {
                toastr.success('Reset password email link sent.');
            }
        });
    </script>
}
