﻿@model EduService.ViewModels.CreateUserViewModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Create User";
}

<div class="content animate-panel">
    <div class="normalheader ">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">

                </div>
                <h2 class="font-light m-b-xs">
                    CREATE USER
                </h2>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("CreateUser", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <span class="help-block">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>        @Html.HiddenFor(m => m.RoleId, Model.RoleId)

        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            Add a new person to the database
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.RoleId, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.RoleId, Model.UserRoles, "Select Role", htmlAttributes: new { @class = "form-control", id = "RoleId", @readonly = "readonly", disabled = "true" })
                                    @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "FirstName", placeholder = "Enter First Name", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "LastName", placeholder = "Enter Last Name", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username", placeholder = "Enter Email Address", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "Password", placeholder = "Password", @type = "password", autocomplete = "new-password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", placeholder = "Confirm Password", @type = "password", autocomplete = "new-password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "PhoneNumber", placeholder = "Enter Phone Number", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                @if (Model.Companies != Enumerable.Empty<SelectListItem>())
                                {
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.InstitutionId, new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.InstitutionId, Model.Companies, "Select Institution", htmlAttributes: new { @class = "form-control", id = "InstitutionId" })
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group col-md-5">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="submit" class="btn btn-block btn-success" value="Create" />
                                </div>
                                <div class="form-group col-md-5">
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            @Html.ActionLink("Back to Login", "Login", "Account")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>