﻿@model EduService.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "register-container" }))
{
    @Html.AntiForgeryToken()

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    @*<i class="glyphicon glyphicon-log-in" style="color:green; font-size:6.0em"></i>
                        <br />*@
                    <h3 style="font-weight:bold">LOGIN</h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <span class="help-block">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </span>
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username", placeholder = "example@domain.com", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "Password", placeholder = "******", @type = "password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks" })
                                    @Html.LabelFor(m => m.RememberMe)
                                    @*@Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", new { @class = "pull-right" })*@
                                </div>
                            </div>
                            <br />

                            <input type="submit" id="btnLogin" class="btn btn-success btn-block" value="Login" />
                            <input type="button" class="btn btn-default btn-block" value="Forgot Password" onclick="location.href='@Url.Action("ResetPassword", "Account")'" />
                            <input type="button" class="btn btn-default btn-block" value="Resend Activation Email" onclick="location.href='@Url.Action("Activate", "Account")'" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Online e-learning portal @Html.Hidden("v1.0.3")</strong><br /> @DateTime.Now.Year

            </div>
        </div>
    </div>
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "onclick": null,
                "timeOut": "10000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                 //"progressBar": "true"
            };

            if ('@TempData["ResetEmail"]' != "") {
                toastr.success('@TempData["ResetEmail"]');
            }
            else if ('@TempData["PasswordSaved"]' != "") {
                toastr.success('@TempData["PasswordSaved"]');
            } else if ('@TempData["ActivationEmail"]' != "") {
                toastr.success('@TempData["ActivationEmail"]');
            }
        });
    </script>
}