﻿@model EduService.ViewModels.SetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Set Password";
}
@using (Html.BeginForm("SetPassword", "Account", FormMethod.Post, new { @class = "register-container" }))
{
    @Html.AntiForgeryToken()

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3 style="font-weight:bold">Set Password</h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#">
                            <div id="resetForm">
                                <span class="help-block">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </span>

                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "Email", @readonly = "readonly" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "Password", placeholder = "******", @type = "password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", placeholder = "******", @type = "password" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />

                                <input type="submit" id="btnLogin" class="btn btn-success btn-block" value="Set New Password" />
                            </div>
                            <input type="button" class="btn btn-default btn-block" value="Back to Login" onclick="location.href='@Url.Action("Login", "Account")'" />

                            @*<input type="button" class="btn btn-default btn-block" value="Create User" onclick="location.href='@Url.Action("CreateUser", "Account")'" />*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Online e-learning portal</strong><br /> @DateTime.Now.Year
            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.message' == "Link Expired") {
                $("#resetForm").hide();
                Swal.fire({
                    icon: 'warning',
                    title: "Link Expired",
                    text: "This link has expired, please request a new link"
                })
            }
            else if ('@ViewBag.message' == "Link not found, please request a new link") {
                $("#resetForm").hide();
                Swal.fire({
                    icon: 'warning',
                    title: "Link Not Found",
                    text: '@ViewBag.message',
                })
            } else if ('@ViewBag.message' == "Unable to find user") {
                $("#resetForm").hide();
                Swal.fire({
                    icon: 'error',
                    title: "User Not Found",
                    text: '@ViewBag.message',
                })
            } else if ('@ViewBag.message' == "Unable to verify link, please request a new link") {
                $("#resetForm").hide();
                Swal.fire({
                    icon: 'error',
                    title: "Link Verification Failed",
                    text: '@ViewBag.message',
                })
            }
        });
    </script>
}
