﻿@{
    ViewBag.Title = "Validate";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}
<div class="content animate-panel" data-child="hpanel" data-effect="fadeInDown">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="hpanel hgreen">
                <div class="panel-body" style="align-content:center">
                    <h2 align="center">@ViewBag.Message</h2>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
