﻿@model EduService.ViewModels.UserViewModel

@{
    ViewBag.Title = "Create User";
}

<div class="content animate-panel">
    @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { id = "createsignatureform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <span class="help-block">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            ADD A NEW USER
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "FirstName", placeholder = "Enter First Name", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.LastName, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "LastName", placeholder = "Enter Last Name", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.RoleId, new { @class = "control-label required" })
                                    @Html.DropDownListFor(m => m.RoleId, Model.UserRoles, "Select Role", htmlAttributes: new { @class = "form-control", id = "RoleId" })
                                    @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                                </div>



                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.Username, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username", placeholder = "Enter Email Address", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.IdNumber, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", id = "IdNumber", placeholder = "Enter Id Number", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.IdNumber, "", new { @class = "text-danger" })
                                </div>


                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.StreetAddress, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control", id = "StreetAddress", placeholder = "Enter Street Address", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.StreetAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.Suburb, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.Suburb, new { @class = "form-control", id = "Suburb", placeholder = "Enter Suburb", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Suburb, "", new { @class = "text-danger" })
                                </div>


                                @if (User.IsInRole("System Admin"))
                                {
                                    Model.InstitutionDisplay = "block";
                                }
                                else
                                {
                                    Model.InstitutionDisplay = "none";
                                }
                                @if (Model.Schools != Enumerable.Empty<SelectListItem>())
                                {
                                    <div class="form-group col-lg-6" style="display:@Model.InstitutionDisplay">
                                        @Html.LabelFor(m => m.SchoolId, new { @class = "control-label required" })
                                        @Html.DropDownListFor(m => m.SchoolId, Model.Schools, "Select School", htmlAttributes: new { @class = "form-control", id = "SchoolId" })
                                        @Html.ValidationMessageFor(m => m.SchoolId, "", new { @class = "text-danger" })
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "PhoneNumber", placeholder = "Enter Phone Number", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.HomePhone, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control", id = "HomePhone", placeholder = "Enter Home Phone Number", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.HomePhone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row" id="divGrade">
                                @if (Model.Grades != Enumerable.Empty<SelectListItem>())
                                {
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.GradeId, new { @class = "control-label required" })
                                        @Html.DropDownListFor(m => m.GradeId, Model.Grades, "Select Grade", htmlAttributes: new { @class = "form-control", id = "GradeId" })
                                        @Html.ValidationMessageFor(m => m.GradeId, "", new { @class = "text-danger" })
                                    </div>
                                }
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="submit" class="btn btn-block btn-success" value="Create" />
                                </div>
                                <div class="form-group col-md-5">
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            @Html.ActionLink("Back to Users", "Index", "Users")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>

        $(document).ready(function () {

            $("#divGrade").hide();

            $(function () {
                $("#RoleId").change(function () {
                    var selectedRole = $("#RoleId option:selected").text();
                    if (selectedRole == "Learner") {
                        $("#divGrade").show();
                    } else {
                        $("#divGrade").hide();
                    }
                });
            });
        });</script>

}