﻿@model IEnumerable<EduService.ViewModels.UserViewModel>
@using Microsoft.AspNet.Identity;
@using EduService.Helpers;
@{
    ViewBag.Title = "Index";
    var currentUser = User.Identity.GetUserId();
}
<div class="content animate-panel">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-times"></i></a>
                        </div>
                        USERS
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <p>
                                @if (User.IsInRole("System Admin") || User.IsInRole("School Admin"))
                                {
                                    @Html.ActionLink("ADD NEW USER", "Create", "Users", null, new { @class = "btn btn-primary btn-xs" })

                                }
                            </p>

                            <table class="display table table-bordered" id="displayTable">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(modelItem => modelItem.FullName)</th>
                                        <th>@Html.DisplayNameFor(modelItem => modelItem.Username)</th>
                                        <th>@Html.DisplayNameFor(modelItem => modelItem.RoleName)</th>
                                        @if (User.IsInRole("System Admin"))
                                        {
                                            <th>@Html.DisplayNameFor(modelItem => modelItem.InstitutionName)</th>
                                        }
                                        <th>@Html.DisplayNameFor(modelItem => modelItem.EmailConfirmed)</th>

                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td width="30%">
                                                @Html.DisplayFor(modelItem => item.Username)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RoleName)
                                            </td>
                                            @if (User.IsInRole("System Admin"))
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InstitutionName)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                                            </td>
                                            <td>

                                                @if (User.IsInRole("System Admin") || User.IsInRole("School Admin"))
                                                {
                                                    @Html.EncodedActionLink("", "Edit", "Users", new { Id = item.UserId }, new { @class = "'btn btn-info btn-xs fa fa-pencil'", style = "margin-right:3px", data_toggle = "tooltip", data_placement = "top", title = "Edit" })

                                                    if (currentUser != item.UserId)
                                                    {
                                                        @Html.ActionLink(" ", "Delete", "Users", new { Id = item.UserId }, new { @class = "btn btn-danger btn-xs fa fa-times", data_toggle = "tooltip", data_placement = "top", title = "Delete" })
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="panel-footer">
                        @Html.ActionLink(" Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline btn-xs btn-primary fa fa-arrow-left" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $("a.editeye").addClass("fa fa-pencil");

        $(document).ready(function () {
            if ('@TempData["updatedUser"]' != "") {
                toastr.success('@TempData["updatedUser"]');
            }
            if ('@TempData["createdUserMessage"]' != "") {
                toastr.success('@TempData["createdUserMessage"]');
            }
        });


        $(function () {
            // JSON data
            var chartDataUrl = '@Url.Action("tableJsonData", "Tables")';

            $('#displayTable').dataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "order": [[0, "asc"]],
                responsive: true,
                buttons: [
                  { extend: 'copy', className: 'btn-sm' },
                  { extend: 'csv', title: 'Users', className: 'btn-sm', exportOptions: { columns: 'th:not(:last-child)' } },
                  { extend: 'pdf', title: 'Users', className: 'btn-sm', exportOptions: { columns: 'th:not(:last-child)' } },
                  { extend: 'print', className: 'btn-sm', exportOptions: { columns: 'th:not(:last-child)' } }
                ],

                columnDefs: [{
                    "targets": [3],
                    "orderable": false,
                    "searchable": false
                }]
            });
        });



    </script>


}
