﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Online e-learning portal | @ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/sweetAlert2/css")
    @*@Styles.Render("~/bundles/sweetAlert/css")*@
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/toastr/css")

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/homer/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="blank">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @*<div class="color-line"></div>*@

    @*<div class="back-link">
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary">Back to Dashboard</a>
        </div>*@

    <!-- Main view  -->
    @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
    @Scripts.Render("~/bundles/sweetAlert2/js")
    @*@Scripts.Render("~/bundles/sweetAlert/js")*@    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    <script src="~/Vendor/metisMenu/dist/metisMenu.js"></script>
    <!-- Section for main scripts render -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/homer/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/global")
    @*@Scripts.Render("~/bundles/validation/js")*@
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/toastr/js")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
    <style type="text/css">
        .help-block ul {
            list-style-type: none;
            padding: 0;
        }

        .required:after {
            content: " *";
            font-weight: normal;
            color: red;
        }
    </style>
    <script>
        //$(document).ready(function () {
        //    window.onbeforeunload = function () { };
        //});
    </script>
</body>
</html>
