﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Online e-learning portal | @ViewBag.Title</title>

    @*<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>*@

    <!-- Primary vendor style -->
    @Styles.Render("~/bundles/sweetAlert2/css")
    @*@Styles.Render("~/bundles/sweetAlert/css")*@
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/datatables/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/toastr/css")



    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOMER style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/bundles/homer/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>
<body class="@Html.PageClass()">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    <aside id="menu">
        @Html.Partial("_Navigation")

    </aside>

    <!-- Main view  -->
    <div id="wrapper">


        @RenderBody()
        <!-- Right Sidebar -->
        @Html.Partial("_Right_Sidebar")

        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
    @Scripts.Render("~/bundles/sweetAlert2/js")
    @*@Scripts.Render("~/bundles/sweetAlert/js")*@
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    <script src="~/Vendor/metisMenu/dist/metisMenu.js"></script>
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/homer/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui/js")
    <script src="~/Scripts/timeout-dialog.js"></script>
    <link href="~/Content/timeout-dialog.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/global")
    @*@Scripts.Render("~/bundles/validation/js")*@
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datepicker/js")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/toastr/js")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

    <style type="text/css">
        .help-block ul {
            list-style-type: none;
            padding: 0;
        }

        .required:after {
            content: " *";
            font-weight: normal;
            color: red;
        }
    </style>

    <script>

        $("a.vieweye").addClass("fa fa-eye");
        $("a.editpencil").addClass("fa fa-pencil");
        $(function () {
            var fnTimeOut = function () {
                jQuery.timeoutDialog.setupDialogTimer({
                    timeout: 1200,
                    countdown: 100,
                    logout_redirect_url: '@Url.Action("LogOff", "Account")',
                    keep_alive_url: '@Url.Action("Keepalive", "Home")'
                });
            };
            fnTimeOut();
        });
    </script>
</body>
</html>
