﻿<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src='~/Images/@{Html.RenderAction("GetProfilePic", "Dashboard");}' class="img-circle m-b" style="width:76px;height:76px" alt="logo" />
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold" id="userName">@{Html.RenderAction("GetUserName", "Dashboard");}</span>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted" id="roleName">@{Html.RenderAction("GetUserRole", "Dashboard");}<b class="caret"></b></small>
                </a>

                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    @if (!User.IsInRole("System Admin"))
                    {
                        <li><a href="@Url.Action("UpdateProfile", "Users")">Profile</a></li>
                    }
                    <li><a href="@Url.Action("LogOff", "Account")">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav metismenu" id="side-menu">

        <li class="@Html.IsSelected(controller: "Dashboard")">
            <a href="@Url.Action("Index", "Dashboard")"> <span class="nav-label">Dashboard</span></a>
        </li>

        @if (User.IsInRole("System Admin"))
        {
            <li class="@Html.IsSelected(controller: "Institution")">
                <a href="@Url.Action("Index", "Institution")"> <span class="nav-label">Schools</span></a>
            </li>
        }
        @if (User.IsInRole("System Admin") || User.IsInRole("School Admin"))
        {
            <li class="@Html.IsSelected(controller: "Users")">
                <a href="@Url.Action("Index", "Users")"> <span class="nav-label">Users</span></a>
            </li>
        }
        @if (User.IsInRole("Teacher"))
        {
            <li class="@Html.IsSelected(controller: "Users")">
                <a href="@Url.Action("Index", "Users")"> <span class="nav-label">Learners</span></a>
            </li>
        }
        @if (User.IsInRole("HOD") || User.IsInRole("Secretary"))
        {
            <li class="@Html.IsSelected(controller: "Classes")">
                <a href="@Url.Action("Index", "Classes")"> <span class="nav-label">Classes</span></a>
            </li>
        }
        @if (!User.IsInRole("System Admin")|| !User.IsInRole("School Admin"))
        {
            <li class="">
                <a href="@Url.Action("Index", "Subjects")"> <span class="nav-label">Subjects</span></a>
            </li>
        }
        @if (User.IsInRole("Learner"))
        {
            <li class="@Html.IsSelected(controller: "Subjects")">
                <a href="@Url.Action("Index", "MySubjects")"> <span class="nav-label">My Subjects</span></a>
            </li>
            <li class="">
                <a href="#"> <span class="nav-label">View Timetable</span></a>
            </li>
            @*<li class="">
                <a href="#"> <span class="nav-label">Watch Live Classes</span></a>
            </li>*@
            <li class="">
                <a href="#"> <span class="nav-label">Search Subjects</span></a>
            </li>

        }

        <li class="">
            <a href="#"> <span class="nav-label">Messages</span></a>
        </li>
        @*<li class="">
            <a href="#"> <span class="nav-label">FAQ</span></a>
        </li>
        <li class="">
            <a href="#"> <span class="nav-label">Help</span></a>
        </li>*@

        <li class="@Html.IsSelected(controller: "Chat")">
            @*<a href="@Url.Action("Index", "Chat")"> <span class="nav-label">ChatBot</span></a>*@
            <a href="@Url.Action("TawkTo", "Chat")"> <span class="nav-label">TawkTo</span></a>
        </li>
    </ul>

</div>
