﻿@{
    ViewBag.Title = "Index";

}

<div class="chat_box">
    <div class="chat_head"> Chat Box</div>
    <div class="chat_body">
        <div class="user">Learner 1</div>
    </div>
</div>
<div class="msg_box" style="right:290px">
    <div class="msg_head">
        Learner 1
        <div class="close">x</div>
    </div>
    <div class="msg_wrap">
        <div class="msg_body">
            <div class="msg_a">This is from A	</div>
            <div class="msg_b">This is from B, and its amazingly kool nah... i know it even i liked it :)</div>
            <div class="msg_a">Wow, Thats great to hear from you man </div>
            <div class="msg_a">Does your chat app work Mswati</div>
            <div class="msg_push"></div>
        </div>
        <div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>
    </div>
</div>
<link href="~/Vendor/chat/Style.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="~/Vendor/chat/Script.js"></script>