﻿@{
    ViewBag.Title = "Dashboard";
}

<div class="content">

    <div class="row">
        @if (User.IsInRole("System Admin"))
        {
            <a onclick="location.href='@Url.Action("Index", "Institution")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Schools</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-building fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (User.IsInRole("HOD"))
        {
            <a onclick="location.href='@Url.Action("Index", "Timetable")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Master Timetable</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (User.IsInRole("Teacher"))
        {
            <a onclick="location.href='@Url.Action("TeacherTimetable", "Timetable")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Timetable</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (User.IsInRole("School Admin"))
        {
            <a onclick="location.href='@Url.Action("Index", "Users")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Users</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (User.IsInRole("HOD") || User.IsInRole("Secretary"))
        {
            <a onclick="location.href='@Url.Action("Index", "Classes")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Classes</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (User.IsInRole("Learner"))
        {
            <a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>My Subjects</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
            <a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>View TimeTable</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-table fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
            @*<a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Watch Live Classes</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-television fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>*@
            <a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Search Subjects</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }
        @if (User.IsInRole("Teacher") || User.IsInRole("HOD"))
        {
            <a onclick="location.href='@Url.Action("Index", "Subjects")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Subjects</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
           
        }
        
        @if (!User.IsInRole("System Admin"))
        {
            <a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Messages</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-comments-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>

            @*<a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>FAQ</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-question-circle-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>*@
            @*<a onclick="location.href='#'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Help</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-info fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>*@
        }

       
        @if (User.IsInRole("Teacher"))
        {
            <a onclick="location.href='@Url.Action("Index", "Files")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Download or Upload Content</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }


        @*@if (User.IsInRole("Teacher"))
        {
            <a onclick="location.href='@Url.Action("Index", "#")'">
                <div class="col-lg-3">
                    <div class="hpanel stats">
                        <div class="panel-body h-100">
                            <div class="stats-title pull-left">
                                <h4>Attendence Register</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-files-o fa-3x"></i>
                            </div>
                        </div>
                        <div class="panel-footer">
                            View
                        </div>
                    </div>
                </div>
            </a>
        }*@
    </div>

</div>
