﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error500";
}
<div class="content animate-panel">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            Error:
                        </div>
                        <div class="panel-body" >
                            <span style="color:red">
                                Sorry, an error occurred while processing your request
                            </span>
                            <div class="row">
                                
                            </div>
                        </div>
                        <div class="panel-footer">
                            @Html.ActionLink(" Back to Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-outline btn-xs btn-primary fa fa-arrow-left" })
                    </div>
                </div>
            </div>
        </div>
    
</div>