﻿@{
    ViewBag.Title = "Dashboard";
}
<div class="content">
    <div class="row">
        <a onclick="location.href='@Url.Action("Index", "Institution")'">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-100">
                        <div class="stats-title pull-left">
                            <h4>Institution</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="fa fa-cc-mastercard fa-3x"></i>
                        </div>
                    </div>
                    <div class="panel-footer">
                        View
                    </div>
                </div>
            </div>
        </a>
        <a onclick="location.href='@Url.Action("Index", "AddressBook")'">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-100">
                        <div class="stats-title pull-left">
                            <h4>Address Book</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="fa fa-credit-card fa-3x"></i>
                        </div>
                    </div>
                    <div class="panel-footer">
                        View
                    </div>
                </div>
            </div>
        </a>
        <a onclick="location.href='@Url.Action("SendPDF", "SendPDF")'">
            <div class="col-lg-3">
                <div class="hpanel stats">
                    <div class="panel-body h-100">
                        <div class="stats-title pull-left">
                            <h4>Send PDF</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="fa fa-credit-card fa-3x"></i>
                        </div>
                    </div>
                    <div class="panel-footer">
                        View
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/flot/js")
}