﻿@model EduService.ViewModels.TimetableViewModel
@{
    ViewBag.Title = "Edit";
}
<div class="content animated-panel">
    @using (Html.BeginForm("Edit", "Timetable", FormMethod.Post, new { id = "createsignatureform", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.timetableId)
        <span class="help-block">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            EDIT LESSON
                        </div>
                        <div class="panel-body">



                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.lessonTime, new { @class = "control-label required" })
                                    @Html.EditorFor(m => m.lessonTime, new { @class = "form-control", id = "lessonTime" })
                                    @Html.ValidationMessageFor(m => m.lessonTime, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(m => m.dayofweek, new { @class = "control-label required" })
                                    @Html.TextBoxFor(m => m.dayofweek, new { @class = "form-control", id = "dayofweek" })
                                    @Html.ValidationMessageFor(m => m.dayofweek, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @if (Model.Subjects != Enumerable.Empty<SelectListItem>())
                            {
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.subjectId, new { @class = "control-label required" })
                                        @Html.DropDownListFor(m => m.subjectId, Model.Subjects, "Select a Subject", htmlAttributes: new { @class = "form-control", id = "subjectId" })
                                        @Html.ValidationMessageFor(m => m.subjectId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            @if (Model.Classes != Enumerable.Empty<SelectListItem>())
                            {
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.classId, new { @class = "control-label required" })
                                        @Html.DropDownListFor(m => m.classId, Model.Classes, "Select a Class", htmlAttributes: new { @class = "form-control", id = "classId" })
                                        @Html.ValidationMessageFor(m => m.classId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            @if (Model.Teachers != Enumerable.Empty<SelectListItem>())
                            {
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        @Html.LabelFor(m => m.userId, new { @class = "control-label required" })
                                        @Html.DropDownListFor(m => m.userId, Model.Teachers, "Select a Teacher", htmlAttributes: new { @class = "form-control", id = "userId" })
                                        @Html.ValidationMessageFor(m => m.userId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="form-group col-md-5">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="submit" class="btn btn-block btn-success" value="Edit" />
                                </div>
                                <div class="form-group col-md-5">
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer">
                            @Html.ActionLink("Back", "Index", "Timetable")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

</div>