﻿@model IEnumerable<EduService.ViewModels.TimetableViewModel>
@using Microsoft.AspNet.Identity;
@using EduService.Helpers;
@{
    ViewBag.Title = "Teacher Timetable";
    var currentUser = User.Identity.GetUserId();
}

<style>
    .lessonItem {
        display: inline-block;
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 1px solid blue;
        background-color: aqua;
    }
</style>

<div class="content animate-panel">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-times"></i></a>
                        </div>
                        TEACHER'S TIMETABLE
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table border="1" cellspacing="3" align="center">
                                <tr>
                                    <td align="center">
                                    <td>8:00-9:00</td>
                                    <td>9:00-10:00</td>
                                    <td>10:00-11:00</td>
                                    <td>11:00-12:00</td>
                                    <td>12:00-1:00</td>
                                    <td>1:00-2:00</td>
                                    <td>2:00-3:00</td>
                                    <td>3:00-4:00</td>
                                    <td>4:00-5:00</td>
                                </tr>
                                <tr>
                                    <td align="center">MONDAY</td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "08:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "09:00:00" && item.dayofweek == "Monday")
                                            {

                                                <div class="lessonItem">
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "10:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "11:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "12:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "13:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "14:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "15:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "16:00:00" && item.dayofweek == "Monday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                </tr>
                                @*Tuesday*@
                                <tr>
                                    <td align="center">TUESDAY</td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "08:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "09:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "10:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "11:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "12:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "13:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "14:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "15:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "16:00:00" && item.dayofweek == "Tuesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                </tr>
                                @*Wednesday*@
                                <tr>
                                    <td align="center">WEDNESDAY</td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "08:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "09:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "10:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "11:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "12:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "13:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "14:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "15:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "16:00:00" && item.dayofweek == "Wednesday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                </tr>
                                @*Thursday*@
                                <tr>
                                    <td align="center">THURSDAY</td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "08:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "09:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "10:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "11:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "12:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "13:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "14:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "15:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "16:00:00" && item.dayofweek == "Thursday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                </tr>
                                @*Friday*@
                                <tr>
                                    <td align="center">FRIDAY</td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "08:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "09:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "10:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "11:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "12:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink("", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "13:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "14:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "15:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @foreach (var item in Model)
                                        {
                                            if (item.lessonTime.ToString() == "16:00:00" && item.dayofweek == "Friday")
                                            {
                                                <div class="lessonItem">
                                                    @Html.ActionLink(" ", "Edit", "Timetable", new { @id = item.timetableId })
                                                    @Html.DisplayFor(x => item.Subject)
                                                    @Html.DisplayFor(x => item.Class)
                                                    @Html.DisplayFor(x => item.lessonTime)
                                                    @Html.DisplayFor(x => item.Teacher)
                                                </div>
                                            }

                                        }
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {




    <script type="text/javascript">


    </script>


}
